<% if @range == "User" %>
<div class='col-md-8 offset-md-1'>
<h2>Users</h2>
<%= render 'users/index',users: @users %>
</div>
<% else %>
<div class='col-md-8 offset-md-1'>
<h2>Books</h2>
<%= render 'books/index', books: @books%>
</div>
<% end %>